<h1>
    Whassup?
</h1>
<p>
    Wanna do some math? Spelling? Reading? Sciiieeeennnccceee?
</p>
<div class="row">
    <div class="col s12 m4">
        <div class="card teal">
            <a ui-sref="math">
                <div class="card-content teal center">
                    <i class="fa fa-calculator fa-5x"></i>
                    <div class="card-title">Math</div>
                </div>
            </a>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card teal">
            <a ui-sref="english">
                <div class="card-content teal center">
                    <i class="fa fa-book fa-5x"></i>
                    <div class="card-title">English</div>
                </div>
            </a>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card teal">
            <a ui-sref="science">
                <div class="card-content teal center">
                    <i class="fa fa-flask fa-5x"></i>
                    <div class="card-title">Science</div>
                </div>
            </a>
        </div>
    </div>
</div>