<h1>
    English
</h1>
<p>
    English is awesome. It's so awesome that hundreds of millions of people around the world speak it!
</p>

<div class="row">
    <div class="col s12 m4">
        <div class="card teal">
            <a ui-sref="fillTheBlank">
                <div class="card-content teal center">
                    <i class="fa fa-list fa-5x"></i>
                    <div class="card-title">Vocabulary</div>
                </div>
            </a>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card teal">
            <div class="card-content teal center">
                <i class="fa fa-pencil fa-5x"></i>
                <div class="card-title">Spelling</div>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card teal">
            <a ui-sref="partsOfSpeech">
                <div class="card-content teal center">
                    <i class="fa fa-book fa-5x"></i>
                    <div class="card-title">Reading</div>
                </div>
            </a>
        </div>
    </div>
</div>